/* * */
body {
  font-size: 21px;
  margin: 0;
  text-align: center;
  font-family: 'Shippori Mincho B1', serif;
}

h1 {
  color: #568EA3;
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Marck Script', cursive;
}

h2 {
  color: #568EA3;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Oxygen', sans-serif;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2rem;
  color: #BA274A;
}

hr {
  border: dotted 6px;
}

p {
  line-height: 1.5;
}

a {
  color: #BA274A;
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
}

.top-container {
  background-color: #C9F8D7;

  position: relative;
  padding-top: 100px;
}

.middle-container {

  margin: 100px 0;
}
.bottom-container{
  background-color: #3F8EFC;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.profile {}

.body-ptag {
  width: 60%;
  margin: auto;
}
.frontbackapp{
  font-size: 1.5rem;
}

.intro-hr {
  width: 4%;
  border-bottom: none;
}
.breaking-hr {
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.project-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.project-ptag {
  width: 75%;
  clear: left;
  vertical-align: baseline;
  text-align: left;
}
.projectImg{
  width: 25%;
  float: right;
  margin-left: 20px;
}
.contact-ptag{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #BA274A;
  font-family: 'Oxygen', sans-serif;
  color: #ffff;
  font-size: 22px;
  background: #3F8EFC;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #AFD0FE;
  text-decoration: none;
}
.icon{
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

#asablue {
  height: 300px;
  width: 300px;
}
